.container {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto 10%;
}

.box {
    border: 1px solid black;
    width: 70%;
    margin: auto;
}

.box.check-box {
    background-color: lightgray;
}
.box.radio {
    background-color: #222222;
}
